  <div class="form-group row">
    <label class="col-form-label col-sm-2" for="name">Name</label>
    <div class="col-sm-7">
      <input class="form-control" name="name" value="<%= model.name %>" />
    </div>
  </div>